* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    font-family: 'Karla';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

